*~
*.ico
*.png
*.jpg
*.jpeg
*.swp
*.sh
.sass-cache/
**/config/development/
**/logs/log*.php
**/logs/!index.html
**/cache/*
**/cache/!index.html
**/cache/!.htaccess
user_guide/
public/css/main.css
public/css/main.css.map
public/images/
.agignore
*.picasa.ini
*.css.map
