@import "../assets/bourbon/bourbon";

// Variables
$body-colour: #fdf1d8;
$grey: #7A7A7A;
$box-colour: #ffffff;
$thumb-colour: #866d65;
$head-colour: #a5080a;
$title-colour: #e23C3b;

// sizes
$margin: 10px;
$image-curve: 16px;
$banner-padding: 3px;
$banner-height: 20px;
$shadow: 3px;
$thumb-size: 64px;

// mixins
@mixin box-shadow($shadows...) {
    -moz-box-shadow:    $shadows;
    -webkit-box-shadow: $shadows;
    box-shadow:         $shadows;
}

@mixin truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

@mixin panel {
    background-color: $box-colour;
    margin-bottom: 6px;
    text-align: center;
    @include padding(3px null 3px null);
    @include box-shadow(3px $shadow $grey);
}

body {
    // padding for fixed btm navbar
    padding-bottom: 60px;
}

// Top most banner 
div.banner {
    text-align: center;
    margin-bottom: $margin;

    @include padding($banner-padding null $banner-padding null);
    @include box-shadow(3px $shadow $grey);
}

// heading of category when listing places
.category-title {
    & > div {

        text-align: center;
        margin-top: $margin;
        margin-bottom: $margin - 4px;

        @include padding($margin null $margin null);
        @include box-shadow(3px $shadow $grey);
    }

    & > img {
        // static square size 64px
        height: $thumb-size;
        width: $thumb-size;

        position: absolute;
        top: $banner-height - $margin - 5px;
        right: 12%;
        background-color: $box-colour;
        
        @include box-shadow(3px $shadow $grey);
    }
}

// the panels that displays the categories
.category-panel {
    @include panel;

    min-height: $thumb-size + 6px;

    &-img {
        background-color: transparent;
        width: $thumb-size;
        height: $thumb-size;
    }
}

// the panels that displays the places
.place-panel {
    @include panel;

    &-img {
        background-color: $thumb-colour;
        border: 1px solid $body-colour;

        min-height: $thumb-size;
        max-height: $thumb-size + 6px;
    }

    &-name {
        @include truncate-text;
    }

    &-rating {
        & > h4 {
            margin-top: 0px;
        }
    }

}

// pages with curved titles
.curved-title {

    text-align: left;
    display: inline-block;
    background-color: $title-colour;
    margin-top: $margin;
    margin-bottom: $margin - 4px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
    @include box-shadow(3px $shadow $grey);

    & > div {
        margin: $margin;
        color: $box-colour;
    }
}

// details page items
.details-title {

    @include box-shadow(3px $shadow $grey);

    & > div {

        text-align: left;
        margin-top: $margin;
        margin-bottom: $margin - 4px;
        margin-left: $margin;

        @include padding($margin null $margin null);
    }
}

.details-item {

    margin-top: $margin;
    margin-bottom: $margin - 4px;
    margin-left: $margin;

    @include padding($margin null $margin null);

    & > div {
        margin-left: $margin;
    }
    
    &-rating
    {
        position: relative;

        @include padding($margin null $margin $thumb-size+$margin+$margin);
    }
    
    &-img {
        position: absolute;
        width: $thumb-size;
        height: $thumb-size;
        left: $margin;
        top: $margin;
    }
    
    &-star {
        width: $thumb-size;
        height: $thumb-size;
    }
}

.picture-carousel {
    width: 96%;
    position: relative;
    left: 2%;
    border-radius: $image-curve;
    background-color: $head-colour;
    
    @include padding($margin null $margin null);
    
    &-img {
        max-height: 300px;
    }
}

/*
.picture-carousel {
    width: 90%;
    position: relative;
    margin-left:auto;
    margin-right:0;
    border-top-left-radius: $image-curve;
    border-bottom-left-radius: $image-curve;
    background-color: $head-colour;
    
    @include padding($margin null $margin null);
    
    &-img {
        max-height: 300px;
    }
}
*/

.map-canvas {
    height: 80%;
    margin: $margin;
    padding: $margin;
    
    @include box-shadow(3px $shadow $grey);
}

.search-panel {
    text-align: center;

    @include padding(3px null 3px null);
}

// bottom navbar
img.nav-btn {
    height: $banner-height + $banner-padding + $margin;
}
